[Unit]
Description=Backup service

[Service]
Type=oneshot
ExecStart=/usr/bin/bac.sh #GPGKEY# #CONTAINER# #USER#
User=#USER#
Group=#GROUP#

[Install]
WantedBy=multi-user.target