Package: pki
Version: 0.1-1
Architecture: all
Maintainer: Dokukin Vyacheslav Olegovich <toorrp4@gmail.com>
Installed-Size: 25
Depends: easy-rsa
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Installing PKI using easy-rsa
