Package: bac
Version: 0.1-1
Architecture: all
Maintainer: Dokukin Vyacheslav Olegovich <toorrp4@gmail.com>
Installed-Size: 29
Depends: gpg, gpg-agent, s3cmd
Section: unknown
Priority: optional
Homepage: https://github.com/Cleverscript/pki
Description: This package allows you to organize backup of critical infrastructure files using the s3cmd package and cloud storage (for example AWS or SELECTEL)
