Source: client
Section: unknown
Priority: optional
Maintainer: Dokukin Vyacheslav Olegovich <toorrp4@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/client
#Vcs-Git: https://salsa.debian.org/debian/client.git
Rules-Requires-Root: no

Package: client
Architecture: all
Depends: easy-rsa, simple-openvpn-client
Description: A package for generating requests to the PKI server to issue certificates, and generating configuration files for the OpenVPN client
