Source: ovpn
Section: unknown
Priority: optional
Maintainer: Dokukin Vyacheslav Olegovich <toorrp4@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/ovpn
#Vcs-Git: https://salsa.debian.org/debian/ovpn.git
Rules-Requires-Root: no

Package: ovpn
Architecture: all
Depends: iptables-persistent, openvpn, easy-rsa, pki
Description: Install and configure OpenVPN server
